/* style.css */

body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
     background-color: aliceblue;
    background-size: cover;
  }
  
  header {

    padding: 10px;
    background-color: skyblue;
    
  }
  
  h1 {
    margin: 2px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 2px;

  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #d32727;
  }
  
  form {
    margin: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color:skyblue;
  }
  
  form input,
  form textarea {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  form button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  