/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 10px;
  background-image: url(health.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.input-group {
  margin-bottom: 10px;
  
}

label {
  display: block;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 20px;
  margin-top: 5px;
}

/* Form-specific styles */
h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-top: 20px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {

  width: 100%;
  padding: 10px;
  font-size: 14px;
}
input[type="number"]::-webkit-inner-spin-button{
  display:none;
}

button.registerbtn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button.registerbtn:hover {
  background-color: #45a049;
}

a.login {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
}
